@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

:root {
  font-family: "M PLUS Rounded 1c", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;

}

body, #root {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

